<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.it.heritageireland"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    
    <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true"/>
    
    
    <permission
    android:name="your.package.name.permission.MAPS_RECEIVE"
    android:protectionLevel="signature" />
	<uses-permission android:name="your.package.name.permission.MAPS_RECEIVE"/>
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
     
     <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        
         <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        
        <meta-data
    android:name="com.google.android.maps.v2.API_KEY"
    android:value="AIzaSyBXcf0Uo7Rrll5YDljSO4_bduuVSG5F2F4" />
        
         <activity android:name="com.facebook.LoginActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        
        <activity
            android:name=".home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
        
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.it.heritageireland.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".Favourites"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.it.heritageireland.Favourites" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         
        <activity android:name=".Adare">
            
            <intent-filter>
                <action android:name="com.it.heritageireland.Adare" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            </activity>
            
             <activity android:name=".Carrowmore">
            <intent-filter>
                <action android:name="com.it.heritageireland.Carrowmore" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>
            
            <activity android:name=".Connemara">
            <intent-filter>
                <action android:name="com.it.heritageireland.Connemara" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>
            
        <activity android:name=".Ballyhack">
            <intent-filter>
                <action android:name="com.it.heritageireland.Ballyhack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>
            
        <activity android:name=".Barryscourt">
            <intent-filter>
                <action android:name="com.it.heritageireland.Barryscourt" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>
            
        <activity android:name=".Newgrange">
            <intent-filter>
                <action android:name="com.it.heritageireland.Newgrange" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>
            
        <activity android:name=".BoyleAbbey">
            <intent-filter>
                <action android:name="com.it.heritageireland.BoyleAbbey" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>
            
        <activity android:name=".Rock_Of_Cashel">
            
            <intent-filter>
                <action android:name="com.it.heritageireland.Rock_Of_Cashel" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            
            </activity>
      		<activity android:name=".Altmont"> 
            <intent-filter>
           	<action android:name="com.it.heritageireland.Altmont" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>
            
       		<activity android:name=".About"> 
            <intent-filter>
           	<action android:name="com.it.heritageireland.About" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>	     
      
      <activity android:name=".Ardfert">      
      <intent-filter>
      <action android:name="com.it.heritageireland.Ardfert" />
      <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      </activity>
      
      <activity android:name=".Athenry">      
      <intent-filter>
      <action android:name="com.it.heritageireland.Athenry" />
      <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      </activity>
        
      <activity android:name=".Aughnanure">      
      <intent-filter>
      <action android:name="com.it.heritageireland.Aughnanure" />
      <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      </activity>
       
    </application>

</manifest>
